extends layout

block content
  h1 
    i.fas.fa-plus-circle &nbsp;
    span #{title}
  h4
    i.fas.fa-user &nbsp;
    span #{user.name}
  hr
  form(method='POST', action='/requests/add')
    #form-group
      label Title*
      input.form-control(name='title', type='text')
    br
    #form-group
      label Description*
      textarea.form-control(name='desc', type='text')
    br
    #form-group
      label Expected Pay
      input.form-control(name='pay', type='text')
    br
    a.btn.btn-outline-light(href='/requests/', style='margin-right: 20px;')
      i.fas.fa-angle-double-left
    button.btn.btn-outline-success(type='submit')
      i.fas.fa-check