extends layout

block content
  h1 #{title}
  h4 Posted By: You
  hr
  form(method='POST', action='/requests/edit/'+job_request._id)
    #form-group
      label Title*
      input.form-control(name='title', type='text', value= job_request.title)
    br
    #form-group
      label Description*
      textarea.form-control(name='desc')= job_request.desc
    br
    a.btn.btn-outline-light(href='/requests/', style='margin-right: 20px;') Cancel
    input.btn.btn-outline-primary(type='submit',value='Submit')