extends layout

block content
  h1
    i.fas.fa-edit &nbsp;
    span #{title}
  h4
    i.fas.fa-info-circle &nbsp;
    span Your User Information
  hr
  form(method='POST', action='/users/edit/' + user._id)
    #form-group
      label Name*
      input.form-control(name='name', type='text', value= user.name)
    br
    #form-group
      label Email*
      input.form-control(name='username', type='text', value= user.username)
    br
    #form-group
      label Bio
      textarea.form-control(name='desc', type='text')= user.desc
    br
    //-
      Images do not upload or submit
    #form-group
      label Avatar
      br
      input#file(name='photo', type='file', accept='image/*')
    br
    a.btn.btn-outline-light(href='/users/' + user._id, style='margin-right: 20px')
      i.fas.fa-angle-double-left
    button.btn.btn-outline-success(type='submit')
      i.fas.fa-check