extends layout

block content
  h1
    i.fas.fa-home &nbsp;
    span #{title}
  h4
    if user
      i.fas.fa-user &nbsp;
      a(href='/users/' + user._id) Welcome, #{user.name}
    else
      i.far.fa-user &nbsp;
      a(href='/users/login') Login to Post
  hr
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.first-slide(src='/images/hardhats.jpg', alt='construction Workers', , width="100%", height="100%")
        .container
          .carousel-caption.text-left
            h1 Create Job Listings &amp; Requests
            p When you create an account, you can post job listings or requests for other users to view.
            if user
              a.btn.btn-lg.btn-primary(href='/users/login', role='button') Change Account
            else
              a.btn.btn-lg.btn-primary(href='/users/login', role='button') Login
      .carousel-item
        img.second-slide(src='/images/grinding.jpg', alt='men working in a field', , width="100%", height="100%")
        .container
        .carousel-caption
          h1 Find Work
          p Sort through all sorts of job offers from other users
          a.btn.btn-lg.btn-primary(href='/listings', role='button', style='margin-right: 20px;') View Listings
          a.btn.btn-lg.btn-primary(href='/requests', role='button') View Requests
      .carousel-item
        img.third-slide(src='/images/pour.jpg', alt='man pouring', , width="100%", height="100%")
        .container
          .carousel-caption.text-right
            h1 Your voice is heard
            p Leave reviews on any job listing or request
            a.btn.btn-lg.btn-primary(href='/listings', role='button', style='margin-right: 20px;') View Listings
            a.btn.btn-lg.btn-primary(href='/requests', role='button') View Requests
  a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next