doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.css')
    title Job Finder
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/') Job Finder
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          a.nav-link(href='/listings/') Listings
          a.nav-link(href='/requests/') Requests
        ul.navbar-nav.ml-auto
          form.search_form.center-block(method='get', action="/search/")
            .input-group.search_option
              input#searchBox.search_field.form-control(type='text', name='q', placeholder='Search', style='margin-right: 3px;')
              span.input-group-btn
                input#search.search_submit.btn.btn-outline-info(onclick='myFunction()', type='submit', value='Search')
          a.nav-link(href='/about') About
          if user
            a.nav-link(href='/users/logout') Logout
          else
            a.nav-link(href='/users/login') Login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Created by Caleb Hoff, Moe H-ibrahim, &amp; Berlinda Ho
    script(src='/js/main.js')