extends layout

block content
  h1 Login
  hr
  form(method='POST', action='/users/login')
    #form-group
      label Email*
      input.form-control(name='username', type='text')
    p
    #form-group
      label Password*
      input.form-control(name='password', type='password')
    br
    input.btn.btn-outline-primary(type='submit', value='Login', style='margin-right: 20px;')
    a.btn.btn-outline-info(href='/users/register') Create an Account