extends layout

block content
  h1
    i.fas.fa-user-circle &nbsp;
    span Login
  h4
    if user
      i.fas.fa-user &nbsp;
      span Change Account
    else
      i.far.fa-user &nbsp;
      span Login to Post
  hr
  form(method='POST', action='/users/login')
    #form-group
      label Email*
      input.form-control(name='username', type='text')
    p
    #form-group
      label Password*
      input.form-control(name='password', type='password')
    br
    input.btn.btn-outline-primary(type='submit', value='Login', style='margin-right: 20px;')
    a.btn.btn-outline-info(href='/users/register') Create an Account