extends layout

block content
  h1
    i.fas.fa-search &nbsp;
    span #{title}
  h4
    i.fas.fa-search &nbsp;
    span Search for Job Listings &amp; Requests
  hr
  form.search_form.center-block(method='get', action="/search/")
    .input-group.search_option
      input#searchBox.search_field.form-control(type='text', name='q', placeholder='Search Job Finder')
      span.input-group-btn
        button.btn.btn-primary(onclick='myFunction()', type='submit')
          i.fas.fa-search
  br
  .form-check
    input#ListingsCheckbox.form-check-input(type='radio', name='SearchCheckbox', checked='')
    label.form-check-label(for='ListingsCheckbox') Job Listings
  .form-check
    input#RequestsCheckbox.form-check-input(type='radio', name='SearchCheckbox')
    label.form-check-label(for='RequestsCheckbox') Job Requests