extends layout

block content
  h1
    i.fas.fa-user &nbsp;
    span #{username}
  h4
    i.fas.fa-envelope &nbsp;
    a(href='mailto:' + email) #{email}
  hr
  h3
    p= description == "" || description == null ? 'No User Bio Found' : description
  br
  a.btn.btn-outline-light(href='javascript:history.go(-1)', style='margin-right: 20px')
    i.fas.fa-angle-double-left
  if user
    if user.id == id
      a.btn.btn-outline-info(href='/users/edit/' + user._id)
        i.fas.fa-pen