.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.navbar.navbar-dark{
  background-color: #1b1f22;
  border-color: #1b1f22;
  border-bottom-color: #DDDDDD;
  border-width: medium;
}

.container{
  color: #DDDDDD;
  background-color: #1b1f22;
}

body{
  background-color: #1b1f22;
  min-height: 75rem;
  padding-top: 4.5rem;
}


footer{
  color: #BBBBBB;
  background-color: #1b1f22;
}

h1{
  color: #EEEEEE;
}

h4{
  color: #337ab7;
}

h5{
  color: #337ab7;
}

.list-group-item{
  background-color: #FFFFFF;
  border-color: #1b1f22;
  border-bottom-width: thick;
  border-block-end-color: #337ab7;
}

hr
{
  border-top: 2px solid #ccc;
}

#map{
  height:400px;
  width:100%;
  }